<div mat-dialog-content id="add-recipe-container">
    <form #recipeForm='ngForm' (ngSubmit)="onSubmit($event)">
        <div id="submit-button-container">
            <button [disabled]="recipeForm.form.invalid" type="submit" id="submit-recipe-button" mat-raised-button
                color="primary">Submit</button>
        </div>
        <mat-accordion>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Recipe Name
                </mat-expansion-panel-header>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Recipe Name" [(ngModel)]="recipe.name" name="RecipeName">
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Cook Time
                </mat-expansion-panel-header>
                <mat-form-field class="full-width">
                    <input type="number" matInput placeholder="Cook Time (In Minutes)" [(ngModel)]="recipe.cookTime"
                        name="RecipeCookTime" required>
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Servings
                </mat-expansion-panel-header>
                <mat-form-field class="full-width">
                    <input type="number" matInput placeholder="Number of servings for recipe"
                        [(ngModel)]="recipe.servings" name="recipeServings" required>
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Directions
                </mat-expansion-panel-header>
                <div>
                    <div *ngFor="let step of directionsArr" id="directions-container">
                        <p>Step {{step}}</p>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Directions" [(ngModel)]="recipe.directions[step - 1]"
                                name="RecipeDirections{{step - 1}}" required>
                        </mat-form-field>
                        <button *ngIf="step === directionsArr.length" type="button" mat-icon-button color="black"
                            (click)="AddDirectionStep()">
                            <mat-icon>
                                add
                            </mat-icon>
                        </button>
                        <button *ngIf="step !== directionsArr.length && step !== 1" type="button" mat-icon-button
                            color="black" (click)="RemoveDirectionStep()">
                            <mat-icon>
                                remove
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Ingredients
                </mat-expansion-panel-header>
                <div *ngFor="let ingred of ingredientArr" id="ingredient-container">
                    <mat-form-field class="ingredient">
                        <input matInput placeholder="Ingredient" [(ngModel)]="recipe.ingredients[ingred].name"
                            name="RecipeIngredientName{{ingred}}" required>
                    </mat-form-field>
                    <mat-form-field class="ingredient">
                        <input matInput type="number" placeholder="Amount"
                            [(ngModel)]="recipe.ingredients[ingred].amount" name="RecipeIngredientAmount{{ingred}}"
                            required>
                    </mat-form-field>
                    <mat-form-field class="measurement">
                        <mat-label>Measurement</mat-label>
                        <mat-select [(ngModel)]="recipe.ingredients[ingred].measurement"
                            name="RecipeIngredientMeasurement{{ingred}}" required>
                            <mat-option *ngFor="let measurement of measurements" [value]="measurement" required>
                                {{measurement}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="spacer"></span>
                    <button *ngIf="ingred === ingredientArr.length - 1" type="button" mat-icon-button color="black"
                        (click)="AddIngredient()">
                        <mat-icon>
                            add
                        </mat-icon>
                    </button>

                    <button *ngIf="ingred !== ingredientArr.length - 1" type="button" mat-icon-button color="black"
                        (click)="RemoveIngredient(ingred)">
                        <mat-icon>
                            remove
                        </mat-icon>
                    </button>
                </div>
            </mat-expansion-panel>

        </mat-accordion>
    </form>
</div>