<button (click)="AddRecipe()">Add</button>
<div class="recipe-grid">
  <div *ngFor="let recipe of recipes" class="recipe">
    <mat-card class="card">
      <mat-card-header>
        <img mat-card-avatar src="{{recipe.image}}" alt="Photo of a Shiba Inu">
        {{recipe.name}}
      </mat-card-header>

      <mat-card-content>
        <p>Cook time (In minutes): {{recipe.cookTime}}</p>
        <br>
      </mat-card-content>

      <mat-card-actions align="center">
        <button mat-button (click)="OpenDetials(recipe);">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>