/* .recipe-container{
    width: 33%;
    margin-right: 5px;
    margin-bottom: 15px;
    display: inline-block;
    max-height: 300px;
    min-height: 300px;
    height: 100%;
    min-width: 200px;
} */

.recipe-container{
    width: 100%;
    display: inline-block;
    -moz-box-shadow: 0 0 50px rgb(46, 46, 46);
    -webkit-box-shadow: 0 0 50px rgb(46, 46, 46);
    box-shadow: 0 0 50px rgb(46, 46, 46);
    height: 80vh;
    background-color: #ccc;
    padding: 75px;
}
#recipe-wrapper{
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
    display: flex;
}

.header-image{
    background-size: cover;
    padding-bottom: 10px;
}


.recipe-card{
    width: 33%;
    margin-right: 5px;
    margin-bottom: 15px;
    display: inline-block;
    max-height: 300px;
    min-height: 300px;
    height: 100%;
    min-width: 200px;
}

.recipe{
    display: inline-block;
}

mat-card{
    max-height: 180px !important;
    min-height: 180px !important;
    max-width: 210px !important;
    min-width: 210px !important;
}

#recipe-header {
    text-align: center;
    font-size: 2em;
}
